*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}



#first {
    text-align: center;
    background-color: violet;
    margin-bottom: 30px;
}

#header{
    font-size: 50px;
    color: yellowgreen ;
    font-weight: bolder ;
    font-style: italic;
    

}

#headertwo{
    font-size: 25px;
    color: yellowgreen;
    font-style: italic;
    font-weight: 200;
}

ul{
    list-style-type: square;
    color: rgb(116, 11, 116);
    font-weight: bolder;
    font-size: 18px;

}

#burger{
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

#second{
    background-color:darkslateblue;

}

h3{
    text-align: left;
    font-size: 30px;
    color:rgb(5, 5, 53);
    text-shadow: 2px 2px crimson;
    font-style: oblique;
}

#burgername{
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    color:rgb(60, 28, 73);
    text-align: center;
}

#twoform{
    text-align:left;
    margin-top: 15px;
    font-family: monospace;
    color:yellowgreen;
    font-weight: bold;
    font-size: 20px;
}

#buttons{
    font-size: 24px;
    margin-top: 15px;
    background-color: rgb(41, 14, 163);
    color: yellowgreen;
}


.eat-burger, .delete-burger{
    font-size: 12px;
    background-color: rgb(41, 14, 163);
    color: yellowgreen;
}

